.scroll-top {
  position: fixed;
  bottom: -100px;
  right: 20px;
  color: white;

  .rocket {
    background: url('/assets/nav/rocket.png') no-repeat bottom center;
    width: 41px;
    height: 75px;

  }

  &.take-off {
    .rocket{
      background-position: top center;
    }
  }

  &.show-button {
    bottom: 20px;
    transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);;
  }
}
