.scroll-top {
  position: fixed;
  bottom: -100px;
  right: 20px;
  color: #969696;
  cursor: pointer;

  .rocket {
    font-size: 55px;
  }

  &.show-button {
    bottom: 20px;
    transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &.take-off {
    bottom: 300px!important;
    transition: all 500ms ease-out;

    .rocket {
      opacity: 0;
      transition: all 500ms ease-out;
    }
  }
}
