<div class="contentWrapper">

  <div class="contentTitle">
    <h1 class="center" i18n>Contactar Josep Alcoceba Serrà</h1>
    <p class="center" i18n>Olis sobre tela pintats a l'estpàtula</p>
  </div>

  <div class="content">
    <div class="dades">

      <p i18n><i class="fa fa-home"></i> Obra permanent a Moià (08180) Barcelona</p>
      <p i18n><i class="fa fa-envelope"></i> <span>E-mail:</span> <a>info<i class="fa fa-at"></i>alcoceba.cat</a></p>
      <p i18n><i class="fa fa-globe"></i> <span>Web:</span> www.alcoceba.cat</p>

      <p class="infoFormulari" i18n>Per a més informació o per enviar-me un missatge o un comentari, ho pots fer a través del meu e-mail.</p>

      <a class="hiddenMobile" href="assets/nav/codiQR.jpg" target="_blank"><img class="fotoQR" src="assets/nav/codiQR.jpg" i18n-alt alt="Codi QR" width="90" height="90"/></a>
      <p class="pQR hiddenMobile" i18n>Fes una foto amb el mòbil per veure aquesta informació</p>
      <p class="hiddenMobile"><a href="http://www.gencat.cat/mobils/cat/qr.htm" rel="nofollow" target="_blank" i18n>Més sobre codis QR</a></p>
    </div>

    <div class="clear"></div>
  </div>
</div>
