<div class="contentWrapper">

  <div class="contentTitleWrapper">

    <div class="contentTitle">
      <h1 class="center" i18n>Biografia</h1>
      <p class="center" i18n>Obra principalment per les províncies de Barcelona, Girona, Tarragona i nord d'Itàlia</p>
    </div>

    <div class="tabLinks">
      <ul>
        <li>
          <span (click)="goToTab('tabExpo')" class="tabLink tab1 active" [class.active]="activeTab == 'tabExpo'" i18n>Exposicions</span>
        </li>
        <li>
          <span (click)="goToTab('tabPremis')" class="tabLink tab2" [class.active]="activeTab == 'tabPremis'" i18n>Premis</span>
        </li>
        <li>
          <span (click)="goToTab('tabAssociacions')" class="tabLink tab3" [class.active]="activeTab == 'tabAssociacions'" i18n>Associacions</span>
        </li>
        <li>
          <span (click)="goToTab('tabBiblio')" class="tabLink tab4" [class.active]="activeTab == 'tabBiblio'" i18n>Bibliografia</span>
        </li>
      </ul>
    </div>

  </div>


  <div class="content contentBio fixedTitle">

    <div class="contentBio">

      <div id="tabExpo">
        <div class="tabRow">
          <h2 i18n>
            Exposicions Co&#320;lectives
          </h2>

          <p i18n>Des de l'any 1976 ha participat a diverses exposicions co&#320;lectives per les províncies de
            Barcelona (Moià, Sabadell, Manresa, Granollers, Igualada, Barcelona), Girona (Blanes, Sant Joan les Fonts,
            Sant Jaume de Llierca, Girona) i Tarragona (El Vendrell), entre altres.</p>

          <p i18n>Ha participat a altres mostres co&#320;lectives com:</p>

          <ul>
            <li i18n><span>1998</span> XLII Saló Internacional de Besiers (França).</li>
            <li i18n><span>2000</span> 8è Certamen Internacional Trofeo Remo Brindisi, Ferrara (Itàlia).</li>
            <li i18n><span>2000</span> Galeria Contreras, Almeria.</li>
            <li i18n><span>2000</span> Galeria EA, Santa Ponça (Mallorca).</li>
            <li i18n><span>2001</span> Galeria Centro Storico de Florencia (Itàlia).</li>
            <li i18n><span>2002</span> Galeria il Ponte IX Premio Internazionale di Arte Europart, Roma (Itàlia).</li>
            <li i18n><span>2002</span> Galeria Hexalfa, Lisboa (Portugal).</li>
            <li i18n><span>2002</span> Fondo Edo. Tempio 2a Edizione, Biella (Itàlia).</li>
            <li i18n><span>2002</span> Galeria Androx, Vigo.</li>
            <li i18n><span>2002</span> Galeria Benarab, Castelló.</li>
            <li i18n><span>2003</span> Galeria Artitude 3r Saló International Petit Format, París (França).</li>
            <li i18n><span>2004</span> –i any 2009– Galeria Manuela Talaverano, Sevilla.</li>
            <li i18n><span>2005</span> Museum of Americas Co&#320;lectiva Homenaje al Quijote, Miami (Estats Units).
            </li>
            <li i18n><span>2005</span> Co&#320;lectiva Bicentenari Hans-Christian Andersen a les ciutats de Vordinborg,
              Esbjerg, RibeAnt, Alborg, Herming i Copenhagen (Dinamarca).
            </li>
            <li i18n><span>2008</span> Frankfurter Buchmesse, Frankfurt (Alemanya).</li>
            <li i18n><span>2009</span> Galeria Art22 (Col·lectiva Sant Jordi). Girona.</li>
          </ul>
        </div>
      </div>

      <div id="tabExpoInd">
        <div class="tabRow">
          <h2 i18n>
            Exposicions Individuals
          </h2>

          <p i18n>Ha exposat individualment entre altres a:</p>
          <ul>
            <li i18n><span>1975</span> Banc Mercantil de Manresa. Moià, Barcelona.</li>
            <li i18n><span>1976</span> –i any 1982– Caixa de Manlleu. Vic, Barcelona.</li>
            <li i18n><span>1987</span> –i anys 1997, 2001, 2003 i 2008– El Casal. Moià, Barcelona.</li>
            <li i18n><span>1989</span> Sala Banca Catalana. Moià, Barcelona.</li>
            <li i18n><span>2000</span> Esart Galeria. Barcelona.</li>
            <li i18n><span>2001</span> Galeria Llum d'Art. El Vendrell, Tarragona.</li>
            <li i18n><span>2003</span> –i any 2004– Galeria Amat. Lleida.</li>
            <li i18n><span>2008</span> Galeria Art22. Girona.</li>
            <li i18n><span>2009</span> Casa del Poble. Blanes, Girona.</li>
            <li i18n><span>2010</span> Castell de Montesquiu. Montesquiu, Barcelona.</li>
          </ul>
        </div>
      </div>

      <div id="tabPremis">
        <div class="tabRow">
          <h2 i18n>
            Premis i Distincions
          </h2>
          <p i18n>Des de l'any 1974 fins el 2004, diversos premis de pintura ràpida (una trentena).</p>
          <ul>
            <li i18n><span>1976</span> 5è Premi Especial, pintura ràpida, Moià (Barcelona).</li>
            <li i18n><span>1998</span> Menció Honorífica, 3r Saló Internacional d'Arts Plàstiques ACEA'S, Barcelona.
            </li>
            <li i18n><span>1998</span> Medalla de Bronze, 42è Saló Internacional de Besiers (França).</li>
            <li i18n><span>1998</span> Diploma de Bronze, 42è Saló Internacional de Besiers (França).</li>
            <li i18n><span>1999</span> Clauer de Plata, Número 0, Cercle Artístic del Moianès, Moià (Barcelona).</li>
            <li i18n><span>2000</span> Diploma d'Honor, VIII Premio Internazionale di Arte Contemporanea, Ferrara
              (Itàlia).
            </li>
            <li i18n><span>2001</span> Títol Accademico Correspondente del Verbano, Accademia Internazionale
              Greci-Marino, Vercelli (Itàlia).
            </li>
            <li i18n><span>2001</span> Medalla d'Or, Premi a la Carriera, Casa Editrice Alba, Ferrara (Itàlia).</li>
            <li i18n><span>2002</span> Premi Prestigi, 1r Saló Internacional d'Arts Plàstiques, Sant Jaume de Llierca
              (Girona).
            </li>
            <li i18n><span>2002</span> Diploma de Mèrit, IX Premi Internazionale di Arte Europart, Roma (Itàlia).</li>
            <li i18n><span>2003</span> Títol i Medalla Prot. núm. 416 GM (Acca. Gentilicio) Acca. Inter. II, Marzocco de
              Florència (Itàlia).
            </li>
            <li i18n><span>2003</span> Menció d'Honor, Paisatgisme, 1r Saló Internacional petit format ACEA'S,
              Barcelona.
            </li>
            <li i18n><span>2003</span> Premi Alba, Ferrara (Itàlia).</li>
            <li i18n><span>2004</span> 1r Premi Inter. Europa Stranieri "Sprigiona la Fantasia" Acca. Inter. Santarrita,
              Torí (Itàlia).
            </li>
            <li i18n><span>2004</span> Diploma de Mèrit Premi "Leonardo da Vinci" Salone Brunelleschi, Florència
              (Itàlia).
            </li>
            <li i18n><span>2004</span> 1r Premi Concurs de Pintura 3a Edició, Sant Jaume de Llierca (Girona).</li>
            <li i18n><span>2005</span> Diploma de Mèrit Michelangelo Buonarroti, Florència (Itàlia).</li>
            <li i18n><span>2006</span> Diploma de Mèrit Sandro Botticelli, Florència (Itàlia).</li>
            <li i18n><span>2007</span> Diploma de Mèrit Premi Alba, Ferrara (Itàlia).</li>
            <li i18n><span>2007</span> Diploma de Mèrit amb Títol Honorífic Premi Internacional "Il Bronzino", Florència
              (Itàlia).
            </li>
            <li i18n><span>2008</span> 4t Premi Concurs de Pintura, Palau Saverdera (Girona).</li>
            <li i18n><span>2008</span> Diploma Artista d'Honor VI Saló Internacional, Sant Joan les Fonts (Girona).</li>
          </ul>
        </div>
      </div>

      <div id="tabAssociacions">
        <div class="tabRow">
          <h2 i18n>
            Associacions Artístiques
          </h2>
          <p i18n>Alcoceba i Serrà és membre de la <span>Federació Internacional d'Artistes Plàstics</span>, ACEA'S, de
            Barcelona, del <span>Cercle Artístic de Manresa</span> i del <span>Cercle Artístic del Moianès</span> del
            qual en va ser president des del juliol de 1993 fins a l'octubre de 1999.</p>
        </div>
      </div>

      <div id="tabBiblio">
        <div class="tabRow">

          <h2 i18n>
            Bibliografia
          </h2>
          <p i18n>Alcoceba i Serrà gaudeix d'una àmplia bibliografia entre la que hi destaca:</p>
          <ul>
            <li i18n><span>Guia de Arte</span> 1995/96, 1998, 2001 i 2005. Barcelona.</li>
            <li i18n><span>Catálogo Nacional de Arte CANART</span> 1997/98 i 2000/05. Barcelona.</li>
            <li i18n><span>Arte della Stampa</span>. Edizione 2001. Itàlia.</li>
            <li i18n><span>Artistas del Siglo XXI</span>. Volum II i Volum III. Girona.</li>
            <li i18n><span>Quién y porqué</span>, 2000 i 2001. Madrid.</li>
            <li i18n><span>Graphic Art</span>, 2003. Barcelona.</li>
            <li i18n><span>Artistes pel Fòrum de les Cultures Barcelona</span>, 2004. Barcelona.</li>
            <li i18n><span>Artistas del Mi&#320;lenium</span>. Volum II. Girona.</li>
            <li i18n><span>Catalunya, Color, Poesia i Volum</span>, 2007. Barcelona.</li>
            <li i18n><span>Dizionario Enciclopedico Internazionale d'Arte Moderna e Contemporanea</span> 2000/01,
              2001/02, 2002/03, 2003/04, 2004/05 i 2007. Ferrara, Itàlia.
            </li>
            <li i18n><span>El Arte en su Máxima Expresión</span>, 2012. Edicions Equador. Girona.</li>
          </ul>
          <p class="noMarginB" i18n>Diverses publicacions a les revistes <span>Gal-Art</span> (Barcelona) i <span>Revistart</span>
            (Barcelona).</p>
        </div>
      </div>

    </div>


  </div>

</div>


<div class="contentQuote">
  <div class="quoteStudio">
    <h2 i18n>Alcoceba Serrà</h2>
    <p class="cita " i18n><span class="cometesGrans">&laquo;</span>La cerca incansable de plasmar pictòricament la
      bellesa de la naturalesa, muntanyes, arbres i rius. Masies de pedra en les quals sembla que el temps no passa. La
      mà de l'artista immortalitza aquella realitat visual; en les quals les sensacions són latents. És com si sentissis
      la pluja, el sol i el vent. És la feliç comunió de l'ofici del pintor amb la seva sensibilitat visual i l'amor per
      la terra.<span class="cometesGrans">&raquo;</span></p>
    <p class="autorCita" i18n>Will Yaya - Catalunya Poesia Color i Volum</p>
  </div>
</div>

